# This is for all environments

########################################
# DO NOT PUT SENSIBLE INFORMATION HERE #
#                                      #
# SENSIBLE INFO ONLY .LOCAL OR ON HOST #
########################################

# Ledger
NEXT_PUBLIC_LEDGER_HOST_URLS=https://europe3.testnet.signum.network
NEXT_PUBLIC_LEDGER_IS_TESTNET=true
NEXT_PUBLIC_LEDGER_POLLING_INTERVAL_SECS=30
NEXT_PUBLIC_CONTRACTS_COLLECTOR_TOKEN_ID="8776242020399215063"
#NEXT_PUBLIC_CONTRACTS_STOCK_REF="7d7b83c6c9d0347c9c6c01bbc1c72f4fba151dd0f609d2e3a067347b750efb8e"
#NEXT_PUBLIC_CONTRACTS_STOCK_CODE_HASH="3564075093770270805"
#NEXT_PUBLIC_CONTRACTS_CERTIFICATE_TOKEN_REF="52bcf457bbcce926f85a4ef4f892732fe558e8df77c3852fce98dd172cd472f5"
#NEXT_PUBLIC_CONTRACTS_CERTIFICATE_TOKEN_CODE_HASH="11233879667184494816"

# Platform
NEXT_PUBLIC_CANONICAL_URL=https://collector-wallet.vercel.app

# Veridibloc Assets
NEXT_PUBLIC_VERICLEAN_TOKEN_ID=4650261435909806
NEXT_PUBLIC_VERICLEAN_TOKEN_CONTRACT=8776242020399215063

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<key>
CLERK_SECRET_KEY=<key>
CLERK_WEBHOOK_SECRET=<secret>

# Storage
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""

# Veridibloc Seed
AES_SECRET=""
VERIDIBLOC_ACTIVATION_ACCOUNT_SEED=""
VERIDIBLOC_ACTIVATION_ACCOUNT_AMOUNT=""
