@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-profilePage__security,
.cl-navbarButton__security {
  display: none;
}

.cl-profilePage__security,
.cl-footer,
.cl-navbarButton__security {
  display: none;
}

.cl-userProfile-root,
.cl-userProfile-root .cl-card {
  width: 100%;
  margin: 0;
  box-shadow: none;
}

.highlight-off{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}