@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-profilePage__security,
.cl-navbarButton__security {
  display: none;
}

.cl-userProfile-root,
.cl-userProfile-root .cl-card {
  width: 100%;
  margin: 0;
  box-shadow: none;
}
